body{
    font-family: monospace;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: red;
    background-color: cornsilk;
  } 
h1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: cornsilk;
font-size: 27px;
font-weight: 200;
font-style: monospace;
color: red;
}
p {
font-size: 17px;
text-align: center;
bottom: 10px;
left:0;
right: 0;
font-weight:200;
font-style: monospace;
color:black;
background: cornsilk;
}