body{
    font-family: monospace;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color:red;
    background-color: cornsilk;
  } 

.fict-section {
    text-align: center;
    padding: 10rem 2rem;
    background: cornsilk;
  }
  
  .fict-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
  }
  
  @media (max-width: 28.75em) {
    .fict-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .fict-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .fict-section {
      padding: 6rem 1rem;
    }
  
    .fict-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .fict {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .fict:hover .code {
    color: #ff7f50;
  }
  
  .fict-image {
    display:block;
    width: 100%;
    object-fit: cover;
  }
  
  .fict-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }